.uv-range {
  border-radius: 50%;
}

.min-vh-80 {
  min-height: 80vh;
}

.currentLoc {
  background-color: #0b0f19;
  border-radius: 50%;
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s all ease-in;
  width: 2rem;
  height: 2rem;
  color: #fff;
}
