.uv-range {
  border-radius: 50%;
}

.min-vh-80 {
  min-height: 80vh;
}

.currentLoc {
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width:992px) {
  .cityInput{
    width: 100%;
    float: none;
  }
}

.spinner-border{
  border: 0.15em solid #ffffff;
  border-right-color: rgba(0, 0, 0, 0);
}