<section class="weather">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4">
        <app-cities [cityDetails]="cityDetails"></app-cities>
      </div>
      <div
        class="col-md-5 offset-md-3 d-flex align-items-center justify-content-lg-end justify-content-between mt-3 mt-md-0"
      >
        <form (ngSubmit)="searchCity()" ngNativeValidate>
          <div class="input-group">
            <input
              type="text"
              name="city"
              id="city"
              class="form-control"
              placeholder="Enter city name"
              [(ngModel)]="cityName"
              required
            />
            <button
              type="submit"
              class="input-group-text"
              [ngStyle]="{ cursor: 'pointer' }"
            >
              <i class="bx bx-search-alt"></i>
            </button>
          </div>
        </form>

        <a
          role="button"
          class="btn btn-dark btn-icon rounded-circle currentLoc"
          (click)="getLocation()"
        >
          <i class="bx bx-target-lock"></i>
        </a>
      </div>
    </div>
  </div>
</section>
<ng-container *ngIf="!loadData; else loading">
  <app-weather-report
    [report]="currentData"
    [forecast]="forecastData"
    [location]="location"
    [astro]="astro"
    [cityDetail]="cityDetail"
  ></app-weather-report>
</ng-container>
<ng-template #loading>
  <div class="container">
    <div class="row min-vh-80 justify-content-center align-items-center">
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorHandler>
  <div class="container mt-4">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="alert alert-danger" role="alert">
          <div>
            Data can't be fetched. please check your internet and try again
            later
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
